body
{
  background-color:rgb(177, 44, 55);
}
header
{
  background-color: rgb(255,253,208);
}
nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a
{
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
div p
{
  width: 50%;
  color: #f6f6f6; font-family: 'Orienta', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center;
}
h1
{
  color: #fff; font-family: 'Bitter', serif; font-size: 65px; font-weight: normal; line-height: 60px; margin: 10px 0 20px; text-transform: uppercase; 
  text-shadow: 2px 2px 0 #000;
}
h3
{
  text-align: center;
}

#box2 {
  width: 25%;
  height: 500px;
  float: left;
  background-color:rgb(220, 20, 60);
  margin: 0;
}
#box1 {
  width: 25%;
  height: 500px;
  float: left;
  background-color: rgb(255,253,208);
  margin: 0;
}
#box1 div
{
  margin: 12px 12px 2px;
}
#box2 div
{
  margin: 12px 12px 2px;
}
#box1 div ul
{
  list-style-type: circle;
}
#box1 img
{
  position: relative;
  margin-top: 15%;
  width: 95%;
  height: auto;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: auto;
}
#box2 div ul
{
  list-style-type: circle;
}
#box2 img
{
  position: relative;
  margin-top:15%;
  width: 95%;
  height: auto;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: auto;
}
#box3 {
  width: 25%;
  height: 500px;
  float: left;
  background-color: rgb(255,253,208);
  margin: 0;
}
#box3 div
{
  margin: 12px 12px 2px;
}
#box3 div ul
{
  list-style-type: circle;
}
#box3 img
{
  position: relative;
  margin-top:7.5%;
  width: 95%;
  height: auto;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 15px;
}
#box4 {
  width: 25%;
  height: 500px;
  float: left;
  background-color:rgb(220, 20, 60);
  margin: 0;
}
#box4 div
{
  margin: 12px 12px 2px;
}
#box4 div ul
{
  list-style-type: circle;
}
#box4 img
{
  position: relative;
  width: 80%;
  height: auto;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 7.5%;
  margin-bottom: auto;
}
#hockey img
{
  position: relative; 
  width: 200px;
  height: auto;
}
#golf img
{

  position: relative; 
  width: 25%;
  height: auto;
}
#hockey {
  width: 50%;
  height: 350px;
  float: right;
  background-color: rgb(255,253,208);
  margin: 0;
}
#golf {
  width: 50%;
  height: 350px;
  float: right;
  background-color: rgb(255,253,208);
  margin: 0;
}
#aboutme p
{
  width: 100%;
  color: #f6f6f6; font-family: 'Orienta', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center;
}
#golf img
{
  width: 70%;
  height: 90%;
  top: 5%;
  bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
#hockey img
{
  height: 90%;
  top: 5%;
  bottom: 5%;
  width: 40%;
  left: 30%;
  right: 30%;
}
#headshot
{
  float: right;
  width: 45%;
  height: auto;
  position: relative; top: -200px;
}
#Projects p
{
  width: 100%;
  color: #f6f6f6; font-family: 'Orienta', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center;
}
#skills p
{
  width: 100%;
  color: #f6f6f6; font-family: 'Orienta', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center;
}